-r requirements.txt
scales
nose
mock>1.1
ccm>=2.1.2
unittest2
PyYAML
pytz
sure
pure-sasl>=0.2.0
twisted
gevent>=1.0
eventlet
cython>=0.20,<0.25
packaging
kerberos
requests
backports.ssl_match_hostname; python_version < '2.7.9'